#background {
  viewport-fill: white;
}

#txtHour {
  font-size: 80;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%-10;
  fill: #ffffff;
}

#txtMin {
  font-size: 80;
  font-family: System-Light;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%+60;
  fill: #ffffff;
}

#txtDate {
  font-size: 24;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 24%;
  fill: #ffffff;
}

#txtJour {
  font-size: 32;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 15%;
  fill: #ffffff;
}

.stats {
  x: 50%-111;
  y: 75%;
  width: 222;
  height: 48;
}

.stats text {
  font-family: SevilleSharp;
  font-size: 30;
  text-length: 16;
  fill: #ffffff;
}

#iconHRM {
  width: 24;
  height: 24;
  y: 15;
  x: 1;
  fill: #ff214a;
}

.stat-left {
  x: 31;
}

.stat-right {
  x: 100%;
  width: 100%;
  text-anchor: end;
}

#stats-cycle {
  x: 40%;
  y: 0;
  width: 60%;
  height: 100%;
}

.cycle-item image {
  x: 50%;
  y: 15;
  fill: #abe74b;
  width: 24;
  height: 24;
}

#luffy {
  width: 116;
  height: 100;
  y: 50%-50;
  x: 100%-116;
}

#sanji {
  width: 70;
  height: 110;
  y: 50%-55;
  x: 15;
}
